
<div class="container">
    <div class="jumbotron">
        <h3>Tell us little about your pet</h3>
<form #petForm = "ngForm" (ngSubmit)="addPet()">
    <div class="row">
      <div class="col">
          <label for="exampleFormControlSelect1">Pet Name</label>
        <input type="text" class="form-control" [(ngModel)]='newPet.name' name="name" placeholder="Pet name">
      </div>
      <div class="col">
          <label for="exampleFormControlSelect1">Pet Type</label>
          <select class="form-control" [(ngModel)]='newPet.type' name="type"  id="exampleFormControlSelect1">
            <option>Dog</option>
            <option>Cat</option>
          </select>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Size</label>
            <select class="form-control" [(ngModel)]='newPet.weight' name="weight"  id="exampleFormControlSelect1">
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
            </select>
        </div>
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Age</label>
            <select class="form-control" [(ngModel)]='newPet.age' name="age"  id="exampleFormControlSelect1">
              <option>0-1</option>
              <option>2-5</option>
              <option>6-8</option>
              <option>8-9</option>
              <option>10+</option>
            </select>
        </div>
      </div>
  
      <div class="row">
          <div class="col">
              <label for="exampleFormControlSelect1">Pre-existing Conditions</label>
              <select class="form-control" [(ngModel)]='newPet.condition' name="condition"  id="exampleFormControlSelect1">
                <option>Diabetes</option>
                <option>Cancer</option>
                <option>Feline Leukemia</option>
                <option>Other</option>
                <option>None</option>
              </select>
          </div>
          </div>
<br/><div class="row">
              
              <div class="col">
                  <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </div>
          
        
    <br/>     
          
  </form>
  <div class="col">
    <a routerLink="/home"><button type="submit" class="btn btn-primary">Cancel</button></a>
</div>
</div>
</div>  