
<div class="container">
    <div class="jumbotron">
        <h3>Tell us little about your pet</h3>
<form #petForm = "ngForm" (ngSubmit)="addPet()">
    <div class="row">
      <div class="col">

          <label for="exampleFormControlSelect1">Pet Name</label>
        <input type="text" class="form-control" [(ngModel)]='newPet.name' #name="ngModel" name="name" placeholder="Pet name" required>
        
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
         
        <div *ngIf="name.errors.required">
            Pet name is required.
          </div>
          </div>
      </div>
      <div class="col">

          <label for="exampleFormControlSelect1">Pet Type</label>
          <select class="form-control" [(ngModel)]='newPet.type' #type="ngModel" name="type"  id="exampleFormControlSelect1" required>
            <option value="" disabled selected>Select your pet's type</option>
            <option>Dog</option>
            <option>Cat</option>
          </select>

          <div *ngIf="type.invalid && (type.dirty || type.touched)"
        class="alert alert-danger">
         
        <div *ngIf="type.errors.required">
            Pet type is required.
          </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Size</label>
            <select class="form-control" [(ngModel)]='newPet.weight' #weight="ngModel" name="weight"  id="exampleFormControlSelect1" required>
              <option value="" disabled selected>Select your pet's size</option>
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
            </select>
            <div *ngIf="weight.invalid && (weight.dirty || weight.touched)"
        class="alert alert-danger">
         
        <div *ngIf="weight.errors.required">
            Pet size is required.
          </div>
          </div>
        </div>
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Age</label>
            <select class="form-control" [(ngModel)]='newPet.age' #age="ngModel" name="age"  id="exampleFormControlSelect1" required>
              <option value="" disabled selected>Select your pet's age</option>
              <option>0-1</option>
              <option>2-5</option>
              <option>6-8</option>
              <option>8-9</option>
              <option>10+</option>
            </select>
            <div *ngIf="age.invalid && (age.dirty || age.touched)"
        class="alert alert-danger">
         
        <div *ngIf="age.errors.required">
            Pet age is required.
          </div>
          </div>
        </div>
      </div>
  
      <div class="row">
          <div class="col">
              <label for="exampleFormControlSelect1">Pre-existing Conditions</label>
              <select class="form-control" [(ngModel)]='newPet.condition' #condition="ngModel" name="condition"  id="exampleFormControlSelect1" required>
                <option value="" disabled selected>Select your pet's pre-existing conditions</option>
                <option>Diabetes</option>
                <option>Cancer</option>
                <option>Feline Leukemia</option>
                <option>Other</option>
                <option>None</option>
              </select>

              <div *ngIf="condition.invalid && (condition.dirty || condition.touched)"
               class="alert alert-danger">
         
        <div *ngIf="condition.errors.required">
            Pet condition is required.
          </div>
          </div>
          </div>
          </div>
<br/><div class="row">
              
              <div class="col">
                  <a routerLink="/home"><button type="submit" class="btn btn-primary">Cancel</button></a>
                  
              </div>
              <div class="col">
                  <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </div>
          
        
    <br/>     
          
  </form>
  
</div>
</div>  