<h3>Tell us little about your pet!</h3>

<form>
    <div class="row">
      <div class="col">
          <label for="exampleFormControlSelect1">Pet Name</label>
        <input type="text" class="form-control" placeholder="Pet name">
      </div>
      <div class="col">
          <label for="exampleFormControlSelect1">Pet Type</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Dog</option>
            <option>Cat</option>
          </select>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Size</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
            </select>
        </div>
        <div class="col">
            <label for="exampleFormControlSelect1">Pet Age</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>0-1</option>
              <option>2-5</option>
              <option>6-8</option>
              <option>8-9</option>
              <option>10+</option>
            </select>
        </div>
      </div>
  
      <div class="row">
          <div class="col">
              <label for="exampleFormControlSelect1">Pre-existing Conditions</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Diabetes</option>
                <option>Cancer</option>
                <option>Feline Leukemia</option>
                <option>Other</option>
                <option>None</option>
              </select>
          </div>
          </div>
        
          <a routerLink="/coverage"><button type="submit" class="btn btn-primary">Next</button></a>
        
  </form>