<div class="container">
    <div class="jumbotron">
<h3>Your quote for pet insurance</h3>
<br/>
  <h1>${{insurance.amount/12 | number:'2.2-2'}} per month!</h1>
  
<br/>
  <form #totalForm = "ngForm" (ngSubmit)="getTotal()">
      <div class="row">
          
          <div class="col">
              <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
        </div>
  </form>
  <div class="col">
      <a routerLink="/home"><button type="submit" class="btn btn-primary">Cancel</button></a>
     
  </div>
 
</div>
</div>