<div class="container">
    <div class="jumbotron">
<h3>Your quote for pet insurance</h3>
<br/>
  <h1>insert quote here</h1>
<br/>
  <form>
      <div class="row">
          <div class="col">
              <a routerLink="/home"><button type="submit" class="btn btn-primary">Cancel</button></a>
             
          </div>
          <div class="col">
              <a routerLink="/signup"><button type="submit" class="btn btn-primary">Sign up</button></a>
          </div>
        </div>
  </form>
</div>
</div>