<div class="container">
    <div class="jumbotron">

      <h3>Welcome {{user.firstName}} {{user.lastName}}</h3>
      <br/>
      <br/>


      <h5>Plans</h5>

      
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Pet name</th>
              <th>Payment</th>
            </tr>
            </thead>
            <tbody>
                
                  <tr *ngFor="let pet of petArr">
                    <td>{{pet.name}}</td>
                    <td>{{pet.insurance}}</td>
                    <td> <div class="col">
                        <button type="submit" (click)="buyInsurance(pet)" class="btn btn-primary">Buy Now</button>
                    </div></td>
                  </tr>
                
            </tbody>
          </table>
      

      <!--





      
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Pet name</th>
              <th scope="col">Deductable</th>
              <th scope="col">Reimbursement Level</th>
              <th scope="col">Coverage</th>
              <th scope="col">Buy now</th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let pet of petArr">
            <tr>
              <td scope="row">{{pet.name}}</td>
              <td>{{pet.insurance.deductable}}</td>
              <td>{{reimbursementlevel}}</td>
              <td>{{pet.insurance.coverage}}</td>
              <td> <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                </div></td>
            </tr>
            </div>
          </tbody>
        </table>
-->
        <form>
            <div class="row">
                <div class="col">
                    <a routerLink="/petprofile"><button type="submit" class="btn btn-primary">Sign up for another plan</button></a>
                </div>
                
            </div>
        </form>

</div>
</div>